.App {
    text-align: center;
  }
  
  ul {
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    outline:none;
  
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 25px;
    text-decoration: none;
    outline:none;
  
  }
  
  li a:hover {
    background-color: whitesmoke;
    text-decoration: none;
    color: black;
  }
  
  Item:hover {
    background-color: whitesmoke;
    text-decoration: none;
    color: black;
  }
  
  section {
    float: right;
    width: 63%;
  }
  
  .tag {
    float: left;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1000;
    background-color: #92AD40;
    padding: 5px;
    color: #FFFFFF;
    font-weight: bold;
  }

  .LoginContainer{
    box-shadow: -2px 2px 10px 0px lightgray;
    border-radius:15px;
  }

.InputHolder{
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}